body
{
    background-color:aqua;
}

.box
{
    display: grid;
    border: solid 1px black;
    margin-top: 2em;
    padding-bottom: 1em;
    padding-top: 1em;
    background-color: cadetblue;
}
input
{
    margin-left:2.5em;
    width:10em;
    text-align: center;
}

label
{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2em;

}
.sub
{
    margin-left: 2.5em;
}
.payroll
{
    display: block;
    border: 1px solid black;
}
li
{
    list-style-type: none;
    margin-top: 1em;
}

