body
{
    background-color:aqua;
}

.box
{
    border: solid 1px black;
    margin-top: 2em;
    padding-bottom: 1em;
    padding-top: 1em;
    background-color: cadetblue;
}
input
{
    margin-left:1em;
}
#emp_name
{
    margin-left: 7.7em;
}
#emp_department
{
    margin-left: 4.7em;
}
#emp_hours
{
    margin-left: 7.7em;
}
#emp_code
{
    margin-left: 2.5em;
}

label
{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2em;

}
.sub
{
    margin-left: 14.3em;
}

/*.empname
{

    margin-left: 6.2em;
    
}
.empdepartment
{
    margin-left: 3.4em;
}
.emphours
{
    margin-left:6.2em;

}
.empcode
{
    margin-left: 1.4em;
}
.sub
{
    margin-left: 10em;
}*